.destination {
    width: 312px;
    margin: 0 auto;
}
.destination-items header {
    display: block;
    position: static;
    background-color: transparent;
    padding: 0;
    margin-bottom: 24px;
}
.tokyo {
    width: 100%;
    height: 360px;
    background: url(../img/tokyo-mobile.jpg) no-repeat;
    background-size: cover;
    margin: 32px 0 24px 0;
}
.osaka{
    width: 100%;
    height: 360px;
    background: url(../img/osaka-mobile.jpg) no-repeat;
    background-size: cover;
    margin: 32px 0 24px 0;
}
.item h3{
    font-size: 28px;
    font-weight: var(--title-weight);
    color: var(--text-primary-color);
    margin: 0 0 24px 0;
}
.item p{
    font-size: 20px;
    font-weight: var(--text-weight);
    color: var(--text-primary-color);
    line-height: 32px;
    margin:  0 0 24px 0;
}
.button {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

@media screen and (min-width:768px) {
    .destination {
    width: 648px;
   }
   .tokyo {
    background: url(../img/tokyo-laptop-desk.jpg) no-repeat;
   }
   .osaka {
    background: url(../img/osaka-laptop-desk.jpg) no-repeat;
   }
   .button {
    width: 280px;
    text-align: center;
    margin-bottom: 40px;
   }
}
@media screen and (min-width:1024px) {
    .destination-items {
        display: flex;
        gap: 24px;
    }
    .destination {
        width: 900px;
    }
}
@media screen and (min-width:1440px) {
    .destination {
        width: 1200px;
    }
}
@media screen and (min-width:1920px) {
    .destination-items {
        display: flex;
        gap: 24px;
    }
    .destination {
        width: 1200px;
    }
}


/*Destinos da excursão - pagina de pacotes*/
.destination-pacote {
    width: 312px;
}
.destination-pacote .section-title {
    margin: 0 auto;
    width: 100%;
}
.destination-pacote .destination-items {
    margin: 50px 0 0 0;
}
.destination-pacote h2 {
    text-align: center;
    width: 312px;
    margin: 88px auto 16px;
}
.destination-pacote hr {
    margin: 0 auto;
}
@media screen and (min-width:768px) {
    /* Destinos da excursão*/
    .destination-pacote {
    width: 648px;
   }
   .tokyo {
    background: url(../img/tokyo-laptop-desk.jpg) no-repeat;
   }
   .osaka {
    background: url(../img/osaka-laptop-desk.jpg) no-repeat;
   }
   .button {
    width: 280px;
    text-align: center;
    margin-bottom: 40px;
   }
}

@media screen and (min-width:1024px) {
    /* Destinos da excursão*/
    .destination-pacote {
    width: 900px;
   }
   .destination-pacote .section-title {
    margin: 0 auto;
    width: 100%;
   }
}
@media screen and (min-width:1440px) {
     /* Destinos da excursão*/
    .destination-pacote {
    width: 1200px;
   }
   .destination-pacote .section-title {
    margin: 0 auto;
    width: 100%;
   }
}