.pacotes-hero .hero-img {
    background: url(../img/hero-pacote-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: 60%;
    height: 460px;
} 
.section-title {
    width: 377px;
}
.pacotes-hero .section-title h2 {
    font-size: 48px;
    font-weight: var(--title-weight);
    color: var(--text-secondary-color);
    text-align: start;
    padding: 65px 0 16px;
}
.pacotes-hero .section-title hr {
    text-align: start;
    margin: 0 0 32px;
}
.pacotes-hero .section-title p {
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--text-weight);
    color: var(--text-secondary-color);
    text-align: start;
}
/* Destinos da excursão*/
.destination-pacote {
    width: 312px;
}
.destination-pacote .section-title {
    margin: 0 auto;
    width: 100%;
}
.destination-pacote .destination-items {
    margin: 50px 0 0 0;
}
.destination-pacote h2 {
    text-align: center;
    width: 312px;
    margin: 88px auto 16px;
}
.destination-pacote hr {
    margin: 0 auto;
}

/* pagamentos*/
.payments-pacote {
    width: 312px;
}
.payments-pacote .section-title {
    margin: 0 auto;
    width: 100%;
}
.payments-pacote h3 {
    font-size: 40px;
    font-weight: var(--title-weight);
    color: var(--text-primary-color);
}
.payments-pacote h4 {
    font-size: 28px;
    font-weight: var(--title-weight);
    color: var(--text-primary-color);
}
.payments-pacote p {
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--text-weight);
    color: var(--text-primary-color);
    margin-bottom: 24px;
}
.image.japan1 {
    background: url(../img/japan1-mobile.png) no-repeat;
    background-size: cover;
}
.image.japan2 {
    background: url(../img/japan2-mobile.png) no-repeat;
    background-size: cover;
}
.image.japan3 {
    grid-column: span 2;
    background: url(../img/japan3-mobile.png) no-repeat;
    background-size: cover;
}

/* depoimentos*/
.testimonials-pacote  {
    width: 312px;
}
.testimonials-pacote .section-title {
    margin: 0 auto;
    width: 100%;
}
/* hero pre footer*/
.hero-before-footer-pacote .hero-before-footer-img {
    margin-top: 88px;
    width: 100%;
    height: 400px;
    background: url(../img/hero-footer-pacote-mobile.png) no-repeat;
    background-size: cover;
}
/* footer*/

@media screen and (min-width:768px) {
    .section-title.title-hero {
        margin: 0 60px;
    }
    /* Destinos da excursão*/
    .destination-pacote {
    width: 648px;
   }
   .tokyo {
    background: url(../img/tokyo-laptop-desk.jpg) no-repeat;
   }
   .osaka {
    background: url(../img/osaka-laptop-desk.jpg) no-repeat;
   }
   .button {
    width: 280px;
    text-align: center;
    margin-bottom: 40px;
   }

   /* pagamentos*/
   .payments-pacote {
    width: 648px;
    }
   .image-content{
        grid-template-columns: repeat(2, 312px);
        grid-template-rows: 254px 182px; 
    }
    .image.japan1 {
        background: url(../img/japan1-laptop.png) no-repeat;
        background-size: cover;
    }
    .image.japan2 {
        background: url(../img/japan2-laptop.png) no-repeat;
        background-size: cover;
    }
    .image.japan3 {
        background: url(../img/japan3-laptop.png) no-repeat;
        background-size: cover;
    }

    /* depoimentos*/
    .testimonials-pacote {
        width: 648px;
        margin: 0 60px;
    }
    .testimonials-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    }

    /*hero pre footer*/
    .hero-before-footer-pacote .hero-before-footer-img {
    background: url(../img/hero-footer-pacote-laptop-desk.png) no-repeat;
    background-size: cover;
    }
}

@media screen and (min-width:1024px) {
    /* Destinos da excursão*/
    .destination-pacote {
    width: 900px;
   }
   .destination-pacote .section-title {
    margin: 0 auto;
    width: 100%;
   }
   /* depoimentos*/
    .testimonials-pacote {
        width: 900px;
        margin: 0 60px;
    }
}

@media screen and (min-width:1440px) {
    .section-title.title-hero {
        margin: 0 120px ;
    }
     /* Destinos da excursão*/
    .destination-pacote {
    width: 1200px;
   }
   .destination-pacote .section-title {
    margin: 0 auto;
    width: 100%;
   }

    /* pagamentos*/
    .payments-pacote {
    width: 1200px;
   }
   .payments-pacote a {
    display: none;
   }
   /* depoimentos*/
    .testimonials-pacote {
        width: 1200px;
        margin: 0 120px;
    }
}